{% extends "base.html" %}

{% block content %}
<div class="flex container mx-auto flex-wrap justify-center">
    
    <form action="" method="post" >
        <h1 class="flex justify-center m-10 text-black text-3xl font-bold">Are You Sure You Want To Delete This Flower?</h1>
        {% csrf_token %}
        <div class="w-full flex justify-center">
        <input type="submit" value="Delete Flower" class="flex justify-center w-2/5 py-2 px-4 rounded-md shadow-sm text-sm font-medium text-white bg-red-700 hover:bg-red-900 hover:scale-110 transition-transform duration-700 ">
        </div>
    </form>
</div>
{% endblock %}
